.hostbox-container{
	float: left;
	margin-left:2%;
	margin-top:2%;
	border-style: dotted;
    border-width: 1px;
    border-color: silver;
    width : 18%;
    height: 60%;
}

.hostbox{
	margin-top: 5%;
	margin-left: 6%;
}

.contentbox{
	margin-top:1%;
	float: left;
	margin-left: 2%;
	width : 70%;
}

.userlist{
}

.float-canvas{
	width: 500px;
	height: 400px;
	margin-right:1%;
	float:right;
}

.share{
	display:inline-block;
	vertical-align: middle;
	margin-left:2px;
}

.action-button{
	margin-top:10px;
	display:inline-block;
	vertical-align: middle;
}

.column{
	max-width: 39%;
	position: relative;
	margin-top: -4%;
	margin-left: -2%;
}

.buttonLeave {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 35px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #9e9e9e;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  
  transition: all 0.5s ease;
}

.buttonLeave:hover {
  background: #ffffff;
  text-decoration: none;
  color: #cc1d1d;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-top-left-radius: 0px;
}

.butt {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  width: 155px;
  border-radius: 35px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #9e9e9e;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-bottom:10px;
  
  transition: all 0.5s ease;
}

.butt:hover {
  background: #ffffff;
  text-decoration: none;
  color: #46a64c;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-top-left-radius: 0px;
}

.centre-butt {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 35px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #9e9e9e;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-left: 42%;
  margin-bottom:10px;
  
  transition: all 0.5s ease;
}

.centre-butt:hover {
  background: #ffffff;
  text-decoration: none;
  color: #46a64c;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-top-left-radius: 0px;
}

.contentlist{
	margin-top:2%;
	float: left;
	margin-left: 5%;
	width : 90%;
}

.icon{
	float: left;
}

.score{
	margin-top:5px;
	float: right;
	margin-right: 30px;
}

.smallcontainer{
	margin-top:5px;
	height: 70px;
}
