@CHARSET "ISO-8859-1";

#map-canvas {
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}

.gmnoprint img {
    max-width: none; 
}
img 
{
    max-width: none;
}

#infoBodyContent{
	font-size: small;
}

#centred{
	margin-left:auto;
	margin-right:auto;
	vertical-align:middle;
}