.glyph
{
	width: 32px;
	height: 32px;
}

.symbol
{
	width: 50px;
	height: 50px;
	margin-left:auto;
	margin-right:5px;
	
}

.helper-text
{
	font-size: 80%;
}

.score
{
	font-size: 150%;
}

.section
{
	margin-top: 10px;
}

.viewport
{
	border-style: solid;
    border-width: 1px;
}